In [6]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

/tmp/ipykernel_59807/912229180.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [7]:
import pandas as pd
import glob
import os


directory = '/home/pk/DAEN690/'
file_pattern = os.path.join(directory, 'StormEvents_details*.csv')

files = glob.glob(file_pattern)
dataframes = [pd.read_csv(file) for file in files]
combined_df_detail = pd.concat(dataframes, ignore_index=True)
print(combined_df_detail.head())

   BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  END_DAY  END_TIME  \
0           202202         20        2118         202202       20      2218
1           202202         21         800         202202       22      1000
2           202202         22         200         202202       22       900
3           202202         18        1609         202202       18      1609
4           202202          2           0         202202        3         0

   EPISODE_ID  EVENT_ID           STATE  STATE_FIPS  ...  END_RANGE  \
0      165464    999902          NEVADA          32  ...        NaN
1      165465    999903          NEVADA          32  ...        NaN
2      165465    999904          NEVADA          32  ...        NaN
3      165611   1001181  ATLANTIC SOUTH          87  ...        7.0
4      165668   1001527  AMERICAN SAMOA          97  ...        5.0

  END_AZIMUTH END_LOCATION BEGIN_LAT  BEGIN_LON  END_LAT   END_LON  \
0         NaN          NaN       NaN        NaN      NaN       NaN
1         NaN          NaN       NaN        NaN      NaN       NaN
2         NaN          NaN       NaN        NaN      NaN       NaN
3          SE  PONTE VEDRA    30.050   -81.1700  30.0500  -81.1700
4         NNW      VAITOGI   -14.333  -170.7157 -14.3393 -170.7268

                                   EPISODE_NARRATIVE  \
0  Strong winds increased ahead of an approaching...
1  A low centered over northern and central Nevad...
2  A low centered over northern and central Nevad...
3  Pre-frontal showers and thunderstorms moved so...
4  A surface trough over the Islands held  the po...

                                     EVENT_NARRATIVE DATA_SOURCE
0  Station (UP994) 3.1 SE West Wendover, Elevatio...         CSV
1  Thirteen inches fell at station (BCSN2) Big Cr...         CSV
2  Fifteen inches fell at station (TJMN2) Toe Jam...         CSV
3  A brief waterspout was observed offshore of So...         CSV
4  Over a 24-hour period, WSO Pago Pago recorded ...         CSV

[5 rows x 51 columns]

In [8]:
file_pattern = os.path.join(directory, 'StormEvents_locations*.csv')
files = glob.glob(file_pattern)
dataframes = [pd.read_csv(file) for file in files]
combined_df_location = pd.concat(dataframes, ignore_index=True)
print(combined_df_location.head())

   YEARMONTH  EPISODE_ID  EVENT_ID  LOCATION_INDEX  RANGE AZIMUTH  \
0     202210      173111   1051457               1   0.00       N
1     202210      173111   1053281               1   9.95      NW
2     202210      173122   1051505               1   1.08       W
3     202210      173123   1051506               1   0.81      NE
4     202210      173123   1051507               1   1.75     WNW

          LOCATION  LATITUDE  LONGITUDE     LAT2      LON2
0         EDGEWOOD   35.0700  -106.2000   354200  10612000
1     MEXICAN SPGS   35.8753  -108.9632  3552518  10857792
2            NUCLA   38.2700  -108.5500  3816200  10833000
3            ELGIN   38.9880  -110.1390  3859280   1108340
4  SOLITUDE SIDING   38.9600  -110.0600  3857600   1103600

In [5]:
#join on EVENT_ID to get EVENT_TYPE
result_df = pd.merge(combined_df_location, combined_df_detail[['EVENT_ID', 'EVENT_TYPE']], on='EVENT_ID', how='left')

output_path = os.path.join(directory, 'combined_storm_events_with_types.csv')
result_df.to_csv(output_path, index=False)

print(result_df.head())

   YEARMONTH  EPISODE_ID  EVENT_ID  LOCATION_INDEX  RANGE AZIMUTH  \
0     202210      173111   1051457               1   0.00       N
1     202210      173111   1053281               1   9.95      NW
2     202210      173122   1051505               1   1.08       W
3     202210      173123   1051506               1   0.81      NE
4     202210      173123   1051507               1   1.75     WNW

          LOCATION  LATITUDE  LONGITUDE     LAT2      LON2    EVENT_TYPE
0         EDGEWOOD   35.0700  -106.2000   354200  10612000  Funnel Cloud
1     MEXICAN SPGS   35.8753  -108.9632  3552518  10857792  Funnel Cloud
2            NUCLA   38.2700  -108.5500  3816200  10833000          Hail
3            ELGIN   38.9880  -110.1390  3859280   1108340          Hail
4  SOLITUDE SIDING   38.9600  -110.0600  3857600   1103600   Debris Flow

In [9]:
result_df.head()

,YEARMONTH,EPISODE_ID,EVENT_ID,LOCATION_INDEX,RANGE,AZIMUTH,LOCATION,LATITUDE,LONGITUDE,LAT2,LON2,EVENT_TYPE
0,202210,173111,1051457,1,0.00,N,EDGEWOOD,35.0700,-106.2000,354200,10612000,Funnel Cloud
1,202210,173111,1053281,1,9.95,NW,MEXICAN SPGS,35.8753,-108.9632,3552518,10857792,Funnel Cloud
2,202210,173122,1051505,1,1.08,W,NUCLA,38.2700,-108.5500,3816200,10833000,Hail
3,202210,173123,1051506,1,0.81,NE,ELGIN,38.9880,-110.1390,3859280,1108340,Hail
4,202210,173123,1051507,1,1.75,WNW,SOLITUDE SIDING,38.9600,-110.0600,3857600,1103600,Debris Flow